@import '../../styles/scss/variables';
.Arrow {
  transition: 0.5s all ease;
  display: flex;
  cursor: pointer;
  &_icon {
    width: 28px !important;
    filter: drop-shadow(2px 2px 2px #171717a8);
    &:hover,
    &:focus {
      filter: drop-shadow(2px 2px 1px #17171780);
    }
  }
}
