@import '../../styles/scss/mixins';
@import '../../styles/scss/variables';

.Loader {
  margin: 0 auto;
  width: 171px;
  height: 171px;
  text-align: center;

  .content {
    width: 100%;
    height: 100%;
    transform: translateZ(0) scale(0.55);
    margin: 0 auto;
    text-align: center;
    div {
      text-align: center;
      position: absolute;
      animation: content 1.09s linear infinite;
      width: 140.22px;
      height: 140.22px;
      border-radius: 50%;
      box-shadow: 0 7.524px 0 0 #3c9ace;
      transform-origin: 70.11px 73.872px;
      box-sizing: content-box;
    }
    p {
      color: $primary_color;
      font-size: 1.5rem;
      transform: translate(-15px, 50px);
      font-weight: bold;
    }
  }
}

@keyframes content {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.3;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
