@import '../../styles/scss/mixins';
@import '../../styles/scss/variables';
.HeaderActivity {
  width: 100vw;
  color: $dark_color;

  > img {
    width: 100vw;
    object-fit: scale-down;
  }
  .title {
    padding: 0 20px;
    > p {
      color: lighten($dark_color, 50%);
      text-align: right;
      font-size: 0.8rem;
      margin: 0 0 10px 0;
      font-family: 'Baloo 2', sans-serif;
    }
    > h1 {
      text-align: center;
      margin: 0;
    }
    > h2 {
      text-align: center;
      margin: 0;
      font-size: 1.5rem;
      font-family: 'Baloo 2', sans-serif;
    }
  }
}
@media (min-width: 992px) {
  .HeaderActivity {
    > img {
      width: 100vw;
      height: 65vh;
      object-fit: cover;
    }
    .title {
      padding: 0 50px;
    }
  }
}
