@import '../../styles/scss/mixins';
@import '../../styles/scss/variables';

.Slider {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  position: relative;
  margin: 0;
}
.image {
  height: 100%;
  width: 100vw;
  flex-shrink: 0;
  background-position: center;
  background-size: cover;
  transition: all 0.9s linear;
  margin: 0;
}
.title {
  @include flexCenter(center, center, column);
  color: $light_color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  text-align: center;

  > h1 {
    text-transform: uppercase;
    margin: 0;
    width: 100vw;
    font-size: 12vw;
    white-space: nowrap;
    color: $light_color;
    opacity: 0.8;
  }
  > h2 {
    text-transform: uppercase;
    margin: auto;
    position: absolute;
    margin-top: 14%;
    font-size: 3vmax;
    text-shadow: 2px 3px 4px #1717179f;
  }
}
