@import '../../styles/scss/mixins';
@import '../../styles/scss/variables';
.HeaderHome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  margin: 0;
}

.image {
  height: 100%;
  width: 100vw;
  flex-shrink: 0;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  transition: all 0.9s linear;
  margin: 0;
  filter: grayscale(0.3) contrast(1.2) brightness(70%);
}

.title {
  @include flexCenter(center, center, column);
  border-bottom: solid #17171750;
  border-image-slice: 1;
  border-width: 10px;
  border-image-source: linear-gradient(to left, #3c9bced2, #3cb8ce8f);

  color: $light_color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  text-align: center;

  > h1 {
    text-transform: uppercase;
    margin: auto;
    padding: 0;
    width: 100vw;
    font-size: 14vw;
    white-space: nowrap;
    color: $light_color;
    opacity: 0.3;
  }
  > h2 {
    text-transform: uppercase;
    margin-bottom: -80px;
    position: absolute;
    margin-top: 14%;
    font-size: 4vw;
    text-shadow: 1px 2px 2px #1717179f;
    transform: translateY(-45px);
    @include desktop {
      font-size: 3vw;
      margin-bottom: 0;
    }
  }
}
