@import '../../../styles/scss/mixins';
@import '../../../styles/scss/variables';
.City {
    @include flexCenter();
    background-color: $light_color;
    position: relative;
}

.loading {
    @include flexCenter();
}

@media (min-width: 992px) {
    .City {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
    }
}