@import '../../../styles/scss/mixins';
@import '../../../styles/scss/variables';
.City {
  @include flex(column, center, center);
  background-color: $light_color;
  position: relative;
  @include desktop {
    @include flex(row-reverse, center, center);
    flex-wrap: nowrap;
  }
}

.loading {
  @include flexCenter();
}
