@import '../../styles/scss/mixins';
@import '../../styles/scss/variables';
.Checkout {
    width: 100vw;
    height: 100vh;
    background-color: white;
    &_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        background-color: $dark_color;
        height: min-content;
        width: min-content;
        box-shadow: 0 0 40px 2px #1717174d;
    }
}

@media (min-width: 992px) {
    .Checkout {
        width: 100vw;
        height: 100vh;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        &_wrapper {
            flex-direction: row;
            box-shadow: 0 0 40px 2px #1717174d;
        }
    }
}