@import '../../styles/scss/mixins';
@import '../../styles/scss/variables';
.Checkout {
  width: 100vw;
  @include desktop {
    width: 100vw;
    height: 80vh;
    @include flex(column, center, center);
  }
  &_wrapper {
    @include flex(column-reverse, center, center);
    background-color: $dark_color;
    height: min-content;
    width: min-content;
    box-shadow: 0 0 40px 2px #1717174d;
    @include desktop {
      flex-direction: row;
    }
  }
}
