@import '../../styles/scss/mixins';
@import '../../styles/scss/variables';
.CheckoutForm {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $dark_color;
  @include flex(column, center, center);
  @include desktop {
    width: 475px;
    height: 450px;
  }
  &_title {
    font-size: 1.5rem;
    font-family: $font_heading;
    color: $light_color;
    text-align: center;
    margin-top: -100px;
    margin-bottom: 28px;
    @include desktop {
      font-size: 1.9rem;
      margin-top: 0px;
      margin-bottom: 28px;
    }
  }
  &_form {
    margin: 0 auto;
    width: 70%;
    @include flexCenter();
    @include desktop {
      width: 60%;
    }
  }
  .buttons {
    position: absolute;
    bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    @include desktop {
      position: relative;
      width: fit-content;
      bottom: 0px;
    }
  }
  &_btnCart {
    position: relative;
    background: $dark_color;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    @include desktop {
      display: none;
    }
  }
  &_number {
    position: absolute;
    top: -2px;
    right: -4px;
    font-size: 0.7rem;
    font-weight: bold;
    background: $primary_color;
    border-radius: 50%;
    color: $light_color;
    padding: 4px;
    @include desktop {
      display: none;
    }
  }
  &_button {
    padding: 10px 20px;
    font-size: 0.8rem;
    font-family: $font_heading;
    letter-spacing: 1px;
    font-weight: bold;
    background: $primary_lighter;
    outline: none;
    border: none;
    box-shadow: 0px 1px 8px $primary_color;
    transition: $transition;
    cursor: pointer;
    &:hover,
    &:focus {
      box-shadow: 0px 1px 10px $primary_darker;
    }
    @include desktop {
      padding: 10px 35px;
      font-size: 1.2rem;
      letter-spacing: normal;
      border: none;
      > span {
        display: none;
      }
    }
  }
  &_details_input,
  &_animation_input {
    border: none;
    background: none;
    outline: none;
    color: $light_color;
    font-size: 1rem;
    font-family: $font_body;
    box-shadow: 0 4px 5px -5px $primary_color;
    width: 100%;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: $light_color;
      -webkit-box-shadow: none;
      box-shadow: none;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
  &_animation {
    width: 100%;
    height: 45px;
    margin-bottom: 35px;
    position: relative;
    &_input {
      height: 100%;
      padding: 0 8px;
      padding-top: 10px;
    }
    &_label {
      position: absolute;
      bottom: 0px;
      left: 0%;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 2px solid $primary_color;
    }
    &_span {
      font-size: 0.5rem;
      position: absolute;
      bottom: 5px;
      left: 0px;
      transition: all 0.3s ease;
      color: $primary_color;
      font-family: $font_heading;
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
    }
    &_input:focus + &_label &_span,
    &_input:valid + &_label &_span {
      transform: translateY(-250%);
      font-size: 0.6rem;
    }
  }
  &_details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35px;
    &_wrapperDate {
      width: 112px;
      > span {
        color: $primary_color;
        font-family: $font_body;
        font-size: 1.3rem;
      }
    }
    &_wrapperCVV {
      width: 20%;
    }
    &_label {
      font-family: $font_heading;
      color: $primary_color;
      font-weight: bold;
      font-size: 0.6rem;
      text-transform: uppercase;
      margin-right: 18px;
    }
    &_input {
      border-bottom: 2px solid $primary_color;
      color: $light_color;
      padding: 0;
      @include input-placeholder {
        color: $primary_color;
      }
    }
    &_inputDate {
      width: 50px;
      text-align: center;
    }
  }
}
