@import '../../styles/scss/mixins';
@import '../../styles/scss/variables';
.figurineList {
  .info_city {
    display: flex;
    justify-content: space-between;
  }
  width: 100%;
  &_info {
    @include tablet {
      @include flex(row, space-between, flex-start);
    }
  }

  &_title {
    font-family: $font_heading;
    font-size: 1.2rem;
    margin: 0;
    color: $dark_color;
    @include tablet {
      font-size: 1.5rem;
    }
    @include desktop {
      font-size: 1.8rem;
    }
  }
  &_subtitle {
    font-size: 0.92rem;
    font-weight: normal;
    color: $gray_lighter;
    margin: 3px 0 15px;
    @include tablet {
      font-size: 1.1rem;
      margin: 3px 0 10px;
    }
    @include desktop {
      font-size: 1.2rem;
    }
  }

  &_carousel {
    display: none;
    @include tablet {
      display: block;
      // margin-top: 50px;
      align-self: center;
    }
  }

  &_scroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 10px;
    scroll-snap-type: x mandatory;
    @include tablet {
      overflow-x: hidden;
      padding-top: 15px;
    }

    > * {
      scroll-snap-align: start;
    }
  }
  .gap {
    gap: 20px;
  }
}
