@import '../../styles/scss/mixins';
@import '../../styles/scss/variables';
.Product {
  position: relative;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(233, 233, 233);
  padding: 8px 10px;
  @include desktop {
    width: 444px;
  }
  p {
    margin: 4px;
  }
  &_wrapper {
    display: flex;
    margin-right: 50px;
  }
  &_icon {
    width: 25px;
  }
  &_name {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: bold;
    @include desktop {
      width: 400px;
    }
  }
  &_info {
    @include flex(row, space-between, flex-end);
    margin-right: 50px;
  }
  &_code,
  &_timeZone {
    font-size: 0.9rem;
    color: grey;
  }
  &_price {
    font-size: 1.2rem;
    font-weight: bold;
  }
  &_delBtn {
    position: absolute;
    right: 0;

    width: 40px;
    height: 92%;

    background: rgb(255, 123, 123);
    border: 0;
    color: $light_color;
    font-weight: bold;

    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.35s;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
