@import '../../styles/scss/mixins';
@import '../../styles/scss/variables';

.modal {
  position: fixed;
  top: 5%;
  right: 5%;
  padding: 5px 20px;
  background: #62b6e4;
  border-radius: 4px;

  box-shadow: 2px 2px 2px #17171775;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  transition: all 0.35s;
  z-index: -1;

  &:focus,
  &:active {
    transform: scale(0.9);
  }

  p {
    color: $light_color;

    &:before {
      content: '🛒 ';
      font-size: 1.2rem;
      opacity: 0.8;
    }
  }
}

.isVisibile {
  opacity: 1;
  z-index: 9;
}

.closeBtn {
  &:after {
    @include flexCenter();
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;

    border: 1px solid #17171750;
    border-bottom-left-radius: 15px;
    background: #17171750;

    content: 'x';
    color: $light_color;
    font-family: 'Baloo 2';
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px #17171775;
  }
}
