@import '../styles/scss/mixins';
@import '../styles/scss/variables';
.Home {
  @include flex(column, center, space-between);
  main {
    padding: 0 6vw;
    > * {
      display: flex;
      flex-direction: column;
      margin-top: 35px;
    }
    &:last-child {
      margin-bottom: 35px;
    }
    @include tablet {
      padding: 0 8vw;
      > * {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
      }
      &:last-child {
        margin-bottom: 60px;
      }
    }
  }
}
