$primary_lighter: #49b7f0;
$primary_color: #30a7df;
$primary_darker: #006598;
$dark_color: #171717;
$gray_color: #384955;
$gray_lighter: #9baebc;
$light_color: #f7f7f7;

$bodyFont_mobile: 0.9rem;
$bodyFont_desktop: 1rem;
$detailsFont_mobile: 0.8rem;
$detailsFont_desktop: 0.9rem;
$transition: all 0.3s linear;
$line-height: 25px;

$font_heading: 'Lato', sans-serif;
$font_body: 'Lato', sans-serif;
