@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Reem+Kufi&display=swap');
@import '../../styles/scss/variables';
.figurine {
  color: $dark_color;
  width: 150px;
  text-align: center;
  cursor: pointer;
  position: relative;

  > .relevance {
    text-transform: capitalize;
  }
  &_image {
    position: relative;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 1px 1px 1px #17171750;
  }
  &_star {
    color: $light_color;
    position: absolute;
    font-size: 0.9rem;
    font-weight: normal;
    background-color: rgba(20, 20, 20, 0.767);
    padding: 2.5px 10px;
    font-family: 'Baloo 2', cursive;
    bottom: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;

    &::after {
      content: ' ★';
      color: rgb(236, 191, 44);
      font-size: 1.2rem;
    }
  }
  &_name {
    margin: 0;
    color: $dark_color;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: 'Reem Kufi', sans-serif;
    letter-spacing: 1.3px;
  }
}

@media (min-width: 992px) {
  .figurine {
    width: 150px;
    height: 300px;
    transition: 0.3s ease;
    &_image {
      border-radius: 15px;
      width: 150px;
      height: 300px;
      object-fit: cover;
      box-shadow: 1px 2px 4px #29292950;
      transition: all 0.3s linear;
    }
    &_name {
      position: relative;
      font-size: 0.9rem;
      margin-bottom: 4px;
      background: radial-gradient(
        circle,
        rgb(40, 155, 218) 0%,
        rgb(15, 149, 221) 100%
      );
      color: $light_color;
      padding: 7.5px;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      text-shadow: 1px 1px 2px $dark_color;
      transform: translateY(18px);
      z-index: 1;
    }
    &_star {
      padding: 2.5px 7.5px;
      bottom: -15px;
      opacity: 0;
      transition: all 0.3s linear;
      transform: translateX(-10px);
      z-index: 1;
      &::after {
        content: ' Activities';
        font-size: 1.1rem;
        opacity: 0;
      }
    }
    &:hover {
      .figurine_image {
        box-shadow: 1px 4px 4px #29292975;
      }
      .figurine_star {
        opacity: 1;
        transform: translateX(0);
        &::after {
          opacity: 1;
          transform: rotate(250deg);
        }
      }
      &:active {
        .figurine_image {
          transform: scale(0.95);
        }
        .figurine_star {
          transform: scale(0.93);
        }
      }
      .figurine_name {
        color: lighten($dark_color, 15%);
        color: $light_color;
      }
    }
  }
}
