@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Reem+Kufi&display=swap');
@import '../../styles/scss/variables';
.figurine {
    color: $dark_color;
    width: 150px;
    text-align: center;
    cursor: pointer;
    position: relative;
    >.relevance {
        text-transform: capitalize;
    }
    &_image {
        border-radius: 15px;
        width: 150px;
        height: 150px;
        object-fit: cover;
        box-shadow: 1px 1px 1px #17171750;
    }
    &_star {
        position: absolute;
        font-size: 0.9rem;
        font-weight: normal;
        background-color: rgba(233, 232, 232, 0.876);
        padding: 0 5px;
        font-family: 'Baloo 2', cursive;
        bottom: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        font-weight: bold;
        &::after {
            content: ' ★';
            color: rgb(206, 142, 22);
        }
    }
    &_name {
        margin: 0;
        color: $dark_color;
        font-size: 0.9rem;
        font-weight: bold;
        font-family: 'Reem Kufi', sans-serif;
        letter-spacing: 1.3px;
    }
}

@media (min-width: 992px) {
    .figurine {
        width: 200px;
        height: 250px;
        transition: 0.3s ease;
        &_image {
            border-radius: 15px;
            width: 200px;
            height: 250px;
            object-fit: cover;
            box-shadow: 3px 3px 6px #29292950;
            transition: all 0.3s linear;
        }
        &_name {
            font-size: 1.2rem;
            margin-bottom: 4px;
        }
        &_star {
            bottom: -15px;
            opacity: 0;
            transition: all 0.3s linear;
            background-color: rgba(233, 232, 232, 0.966);
            transform: translateX(-10px);
            z-index: 0;
            &::after {
                font-size: 1.4rem;
                opacity: 0;
            }
        }
        &:hover {
            transform: translateY(-15px);
            .figurine_image {
                box-shadow: 6px 6px 6px #29292950;
            }
            .figurine_star {
                opacity: 1;
                transform: translateX(0);
                &::after {
                    opacity: 1;
                    transform: rotate(250deg);
                }
            }
            .figurine_name {
                color: lighten($dark_color, 15%);
            }
        }
    }
}